.center-text { text-align: center; }
@mixin center-text() { text-align: center; }


@media only screen and (max-width: 767px) // < 768
{
    body
    {
        font-size: 24pt;
    }
    .column-title
    {
        font-size: 40pt;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) // >= 768 and < 992
{
    body 
    {
        font-size: 40pt;
    }
    .column-title
    {
        font-size: 60pt;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) // >= 992 and < 1200
{
    body 
    {
        font-size: 13pt;
    }
    .column-title
    {
        font-size: 24pt;
    }
}
@media only screen and (min-width: 1200px) // >= 1200
{
    body 
    {
        font-size: 15pt;
    }
    .column-title
    {
        font-size: 26pt;
    }
}

body
{
    font-family: sans-serif;
}

.navbar
{
    margin-top: 0.25em;
    margin-bottom: 1.5em;
}

.vertical-center 
{
    vertical-align: middle;
    //position: absolute;
    //margin: auto;
}

.main-col
{

}

.main-col-stacked
{
   ~ .main-col-stacked
   {
       padding-top: 2em;
   }
}

.main-col-sided
{
   ~ .main-col-sided
   {
       //background-color: red;
   }
}

.column-title
{
    width: 100%;
    font-weight: bold;
    margin-bottom: 5.3125%;
}

.btn-container {
    padding-top: 41.667%; //5/12th, the size of the column in the row
    position: relative;

    .mainPageBtn {
        display: table;

        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        vertical-align: middle;
        color: inherit;
        text-decoration: inherit;

        .link-text
        {
            height: 100%;
            display: table-cell;
        }

        /*
        &:onhover
        {
            color: inherit;
            text-decoration: inherit;
        }
        */
        //-webkit-appearance: button;
        //-moz-appearance: button;
        //appearance: button;
        border: 1px solid black;
        border-radius: 1em;
        margin-left: auto;
        margin-right: auto;
        background-image: radial-gradient(#FFFFFF, #E3E3E3);
        @include center-text();

        &.longBtn {
            width: 100%;
            //padding-top: 10.625%;
            //padding-bottom: 10.625%;
        }

        &:active {
            background-image: radial-gradient(#AAAAAA, #E3E3E3);
        }
    }
}

.btn-row 
{
    ~ .btn-row 
    {
        padding-top: 5.3125%;
    }
}



.container-full
{
    margin: 0 auto;
    width: 100%;
}


.col-2-5ths
{
    width: 40%;
    float: left;
}

.col-1-ths
{
    width: 20%;
    float: left;
}

.col-12-13ths 
{
    width: 92.3076%;
    float: left;
}

.col-11-13ths
{
    width: 84.61538%;
    float: left;
}

.col-6-13ths
{
    width: 46.153%;
    float: left;
}

.col-1-13ths
{
    width: 7.692%;
    float: left;
}

.divider-row
{
    height: 100% !important;
}