@page
@model CCS.Pages.Edit.Donor.EditModel

@{
	Layout = "_FormLayout";
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Agency</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Agency.AgencyID" />
            <div class="form-group">
                <label asp-for="Agency.AddressID" class="control-label"></label>
                <select asp-for="Agency.AddressID" class="form-control" asp-items="ViewBag.AddressID"></select>
                <span asp-validation-for="Agency.AddressID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agency.AgencyName" class="control-label"></label>
                <input asp-for="Agency.AgencyName" class="form-control" />
                <span asp-validation-for="Agency.AgencyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Agency.IsDonor" /> @Html.DisplayNameFor(model => model.Agency.IsDonor)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Agency.IsActive" /> @Html.DisplayNameFor(model => model.Agency.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
