@page
@model CCS.Pages.Login.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header bg-danger text-center text-white">
                    <h2><span class="fa fa-ban"></span> Access Denied</h2>
                </div>
                <div class="card-body text-center">
                    You do not have permission to view this page or perform this action.
                </div>
            </div>
        </div>
    </div>
</div>


