@page
@model CCS.Pages.Error.ServerErrorModel
@{
    ViewData["Title"] = "Server Error";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header bg-danger text-center text-white">
                    <h2><span class="fa fa-skull-crossbones"></span> ERROR 500: Internal Server Error</h2>
                </div>
                <div class="card-body text-center">
                    Something went wrong.  If the problem persists, please contact the web administrator.
                </div>
            </div>
        </div>
    </div>
</div>
