@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This software was developed as a collaborative project at Weber State University to serve the local community.</p>

<h2>Student Authors:</h2>
<ul>
    <li>Alex Fenton</li>
    <li>Amy Lea</li>
    <li>Bryan Sutton</li>
    <li>Carson Smith</li>
    <li>Christopher Woodhave</li>
    <li>Dongmin Kim</li>
    <li>Hannah VanderHoeven</li>
    <li>Jonathan Mirabile</li>
    <li>Josh Redford</li>
    <li>Kion Shamsa</li>
    <li>Mark Haslam</li>
    <li>Maxwell Wright</li>
    <li>Melissa Jenkins</li>
    <li>Rolando Collantes</li>
    <li>Spencer Harston</li>
</ul>